# Core functionality - changes here should be rare!
/src/app.py                   @VeronicaWanja
/src/backend/database.py      @VeronicaWanja
/src/backend/routers/auth.py  @VeronicaWanja

# The frontend will need refactored soon to be more object oriented.
/src/static/   @VeronicaWanja
